pip install osmnx==1.3.0
pip install contextily==1.2.0
pip install scipy==1.10.0
pip install scikit-learn==1.2.1
pip install requests
pip install PyQtWebEngine==5.15.6
pip install folium==0.14.0
pip install matplotlib==3.6.3
pip install networkx==2.8.8
pip install shapely==2.0.1